.conda/
hard_database/
api/__pycache__/
api/migrations/__pycache__/
app/__pycache__/
.env
*.py[cod]
*$py.class
connection_at_dev.ipynb
requirements_github2file.txt
github2file.py
react2file.py
VAPI_python.txt
requirements_dev.txt