.conda/
hard_database/
api/__pycache__/
api/migrations/
app/__pycache__/
.env
connection_at_dev.ipynb
*.py[cod]
*$py.class
requirements_github2file.txt
github2file.py
VAPI_python.txt
requirements_dev.txt